.cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  border: 2px solid var(--color-accent);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

.cursor-inner {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--color-accent);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor.active {
  width: 48px;
  height: 48px;
  border-color: var(--color-accent-2);
  background-color: var(--color-accent-2-10);
}
